<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhenqi.baseutil">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!--&lt;!&ndash;                  极光推送 配置开始                           &ndash;&gt;-->
        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--&lt;!&ndash; 可配置 android:process 参数将 PushService 放在其他进程中 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.PushService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.REGISTER" />-->
                <!--<action android:name="cn.jpush.android.intent.REPORT" />-->
                <!--<action android:name="cn.jpush.android.intent.PushService" />-->
                <!--<action android:name="cn.jpush.android.intent.PUSH_TIME" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; since 1.8.0 option 可选项。用于同一设备中不同应用的 JPush 服务相互拉起的功能。 &ndash;&gt;-->
        <!--&lt;!&ndash; 若不启用该功能可删除该组件，或把 enabled 设置成 false ；拉起服务被关闭，App 不会通过拉起服务拉起其他的 App，也不会被其他 App 拉起。 &ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DaemonService"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.intent.DaemonService" />-->
                <!--<category android:name="com.zhenqi.sjz" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--&lt;!&ndash; since 3.1.0 Required SDK 核心功能&ndash;&gt;-->
        <!--<provider-->
            <!--android:name="cn.jpush.android.service.DownloadProvider"-->
            <!--android:authorities="com.zhenqi.sjz.DownloadProvider"-->
            <!--android:exported="true" />-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->

        <!--<receiver-->
            <!--android:name="cn.jpush.android.service.PushReceiver"-->
            <!--android:enabled="true">-->
            <!--<intent-filter android:priority="1000">-->
                <!--<action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />-->
                <!--<category android:name="com.zhenqi.sjz" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
            <!--&lt;!&ndash; Optional &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->

                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PushActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:exported="false"-->
            <!--android:theme="@android:style/Theme.NoTitleBar">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.jpush.android.ui.PushActivity" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.zhenqi.sjz" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; SDK 核心功能&ndash;&gt;-->
        <!--<activity-->
            <!--android:name="cn.jpush.android.ui.PopWinActivity"-->
            <!--android:configChanges="orientation|keyboardHidden"-->
            <!--android:exported="false"-->
            <!--android:theme="@style/MyDialogStyle">-->
            <!--<intent-filter>-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="com.zhenqi.sjz" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<service-->
            <!--android:name="cn.jpush.android.service.DownloadService"-->
            <!--android:enabled="true"-->
            <!--android:exported="false" />-->

        <!--&lt;!&ndash; Required SDK 核心功能&ndash;&gt;-->
        <!--<receiver android:name="cn.jpush.android.service.AlarmReceiver" />-->
        <!--&lt;!&ndash;                  极光推送 配置结束                           &ndash;&gt;-->

        <activity android:name=".base.BaseWebActivity"/>
        <!--<activity-->
            <!--android:name="com.umeng.socialize.media.WBShareCallBackActivity"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:exported="false"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
            <!--android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:exported="false"-->
            <!--android:windowSoftInputMode="adjustResize" />-->
        <!--<activity-->
            <!--android:name="com.sina.weibo.sdk.share.WbShareTransActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".wxapi.WXEntryActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
            <!--android:name="com.tencent.tauth.AuthActivity"-->
            <!--android:launchMode="singleTask"-->
            <!--android:noHistory="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->

                <!--<data android:scheme="tencent100424468" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name="com.tencent.connect.common.AssistActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

    </application>

</manifest>
